.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: auto;
  width: 90vw;
}
.player {
  position: absolute;
  z-index: 0;
}

.playIcon {
  position: absolute;
  width: calc(30px + 5vw);
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  
}